.plusMinus {
    height: 2rem;
    align-self: center;
    justify-self: center;
    height: 2.2rem;
    width: 2.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    font-family: "Fragment Mono";
    border: rgb(239, 241, 101) 1px solid;
    background-color: rgb(239, 241, 101);
    color: rgb(243, 107, 9);
    border-radius: 25px;
    padding: 0.2rem;
    margin: 0.5rem;

}